:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.tuff-part-PlotPart {
	--axis-stroke: #fff;
	--plot-background: #1b1b1b;
	--label-fill: #fff;
	--label-font-size: 12px;
	--axis-title-font-size: 12px;
	--axis-title-font-weight: bold;
	--border-radius: 4px;
	width: 600px;
	max-width: 100%;
	min-height: 400px;
	position: relative;
	background: var(--plot-background);
	& > svg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		& .axis, & .tick {
			stroke: var(--axis-stroke);
		}
		& .label {
			fill: var(--label-fill);
			font-size: var(--label-font-size);
		}
		& .axis-title {
			fill: var(--label-fill);
			font-size: var(--axis-title-font-size);
			font-weight: var(--axis-title-font-weight);
			alignment-baseline: central;
			text-anchor: middle;
			&.left {
				transform: rotate(-90deg);
			}
			&.right {
				transform: rotate(90deg);
			}
		}
		& .hover rect {
			fill: transparent;
			stroke: none;
			filter: url(#cursor-filter);
			&:hover {
				fill: rgba(128, 128, 128, 0.2);
			}
		}
	}
	& .tooltip {
		position: absolute;
		border: 1px solid var(--axis-stroke);
		background-color: var(--plot-background);
		border-radius: var(--border-radius);
		z-index: 1;
		& .label, & .line {
			color: var(--label-fill);
			font-size: var(--label-font-size);
			padding: 0.5em;
			line-height: 1;
		}
		& .label {
			border-bottom: 1px solid var(--axis-stroke);
		}
		& .line {
			display: flex;
			gap: 1em;
			align-items: center;
			& .value {
				flex: 1 1 auto;
			}
			& .preview {
				flex: 0 0 30px;
				height: 1em;
				display: flex;
				align-items: center;
				position: relative;
				& .bar {
					height: 100%;
					flex: 1 1 auto;
				}
				& .stroke {
					width: 100%;
				}
				& svg {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}


